// $primaryColor: #ef9d1c;
$primaryColor: #282828;
$primaryInvert: invert($primaryColor);
// $secondaryColor: #949494;
$secondaryColor: white;
$accentColor: #97743A;


//total war colors
//#97743A - brown accent
//#282828 - black / dark for nav 

// html {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   font-family: "Bookman";
// }

body {
  background-color: $secondaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20vh;
  bottom: 15vh;
}




h3{
  margin: 3vh 0 0 0;
  border-bottom: solid 3px $accentColor;
}

section {
  border-top: solid 1px $primaryColor;
  border-left: solid 1px $primaryColor;
  border-right: solid 1px $primaryColor;
  border-bottom: solid 5px $accentColor;
  margin-top: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}


// header {
//   display: flex;
//   justify-content: center;
//   background-color: $primaryColor;
//   position: fixed;
//   top: 0vh;
//   width: 100vw;
//   z-index: 1;
//   height: 12vh;
//   padding-bottom: 1vh;
// }



nav {
  background-color: $primaryColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 1vh;
  border-color: $primaryColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  padding: 1vh 0;
  div{
    h1{
      color: $secondaryColor;
      border-bottom: solid 3px $accentColor;
      font-size: xx-large;
    }
  }
  div{
    #header-buttons{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $secondaryColor;
      font-size: larger;
      p{
        margin: 0 6px;
      }
      a{
        color: $secondaryColor;
        // margin-top: 2px;
        border-bottom: solid 3px $accentColor;
        border-radius: none;
        padding: 0px;
        margin: none;
        background-color: none;
        text-decoration: none;
        box-shadow: none;
        &:hover {
          background-color: $accentColor;
          padding: 5px 0px 6px;
          border-radius: 2px;
          border: solid 2px $accentColor;
          
        }
      }
    }
  }
}

.section-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primaryColor;
  width: 80vw;
  padding-bottom: 10px;
}





#about-me{
  // border-color: ;
  margin-top: 20vh;
  width: 90vw;
  
    p{
      padding: 4vh 0;
      max-width: 80vw;
      font-size: larger;
      
    }
}


#technologies {
  display: flex;
  
  #all-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    #technologies-list-container{
      width: 80vw;
      display:flex;
      flex-direction: column;
      #technologies-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4vh 0;
        .tech-icon {
          list-style-type: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          max-height: 10vh;
          max-width: 30vw;
          font-size: 16px;
          padding: 4px 8px;
          margin: 5px;
          color: #000;
          .tech-image {
            max-width: 30vw;
            max-height: 10vh;
            }
          }
        }
      }
      #soft-container {
        display: flex;
        flex-direction: column;
        #soft-skills-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          #soft-skills-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            list-style-type: none;
            .soft-icon {
              list-style-type: none;
              margin: 20px;
              border-bottom: $accentColor 2px solid;
              font-size: larger;
            }
    }
  }
  }
  }
}



#portfolio {

  display: flex;
  justify-content: center;
  margin-bottom: 5vh;

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    a {
      border: $accentColor 2px solid;
      border-radius: 5px;
      padding: 10px;
      margin: 0 5px;
      background-color: $secondaryColor;
      text-decoration: none;
      color: black;
      box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    .project:last-of-type{
      border-bottom: none;
    }
    .project {
      display: flex;
      flex-direction: row;
      align-items: center;
      // margin: 4vh 0;
      padding: 4vh 0;
      border-bottom: solid 3px $accentColor;
      .project-text {
        margin: 0 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .external-links{
          display: flex;
        }
      }
      .project-image {
        max-width: 50vw;
        border-radius: 10px;
      }
    }
  }
}

footer{
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $primaryColor;
  color: $secondaryColor;
  
  #contact{
    display: flex;
    flex-direction: row;
    background-color: $primaryColor;
    justify-content: center;
    align-items: flex-end;

    .section-title{
      color: $secondaryColor;
      border: none;
    }
    
    #footer-icon-container{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 15vw;


      #footer-icon-email{
        display: flex;
        min-height: 20px;
        min-width: 20px;
        background-image: url(images/icons/email.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px;
        background-color: $secondaryColor;
        margin: 0 5px;

      }
      #footer-icon-linked{
        display: flex;
        min-height: 20px;
        min-width: 20px;
        background-image: url(images/icons/linked-in.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px;
        background-color: none;
        margin: 0 5px 0 15px;
      }
    }
  }
  .footer-spacer{
    margin-left: 5vw;
  }
}


@font-face {
  font-family: 'Star Jedi';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/star-jedi.woff') format('woff');
}

#star-wars {
  font-family: 'Star Jedi', arial;
}