html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bookman";
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  border: #97743A 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  margin: 3vh 0 0 0;
  border-bottom: solid 3px #97743A;
}

section {
  border-top: solid 1px #282828;
  border-left: solid 1px #282828;
  border-right: solid 1px #282828;
  border-bottom: solid 5px #97743A;
  margin-top: 10vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

nav {
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 1vh;
  border-color: #282828;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  padding: 1vh 0;
}

nav div h1 {
  color: white;
  border-bottom: solid 3px #97743A;
}

nav div #header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav div #header-buttons a {
  margin-top: 2px;
}

nav div #header-buttons a:hover {
  background-color: #97743A;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #282828;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20vh;
  bottom: 15vh;
}

#about-me {
  margin-top: 20vh;
  width: 90vw;
}

#about-me p {
  padding: 5vh 0;
  max-width: 80vw;
  font-size: larger;
}

#technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#technologies #all-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#technologies #all-skills #technologies-list-container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#technologies #all-skills #technologies-list-container #technologies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#technologies #all-skills #technologies-list-container #technologies-list .tech-icon {
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 10vh;
  max-width: 30vw;
  font-size: 16px;
  padding: 4px 8px;
  margin: 5px;
  color: #000;
}

#technologies #all-skills #technologies-list-container #technologies-list .tech-icon .tech-image {
  max-width: 30vw;
  max-height: 10vh;
}

#technologies #all-skills #soft-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#technologies #all-skills #soft-container #soft-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#technologies #all-skills #soft-container #soft-skills-container #soft-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

#technologies #all-skills #soft-container #soft-skills-container #soft-skills-list .soft-icon {
  list-style-type: none;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
}

#portfolio #projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80vw;
}

#portfolio #projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 0;
}

#portfolio #projects .project .project-text {
  margin: 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio #projects .project .project-text .external-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio #projects .project .project-image {
  max-width: 50vw;
  border-radius: 10px;
}

footer {
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #282828;
  color: white;
}

footer #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #282828;
}

footer #contact .section-title {
  color: white;
}

footer #contact #footer-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #contact #footer-icon-container #footer-icon-email {
  min-height: 20px;
  min-width: 20px;
  background-image: url(images/icons/email.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  background-color: white;
}

footer #contact #footer-icon-container #footer-icon-linked {
  min-height: 20px;
  min-width: 20px;
  background-image: url(images/icons/linked-in.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  background-color: none;
}

@font-face {
  font-family: 'Star Jedi';
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/star-jedi.woff") format("woff");
}

#star-wars {
  font-family: 'Star Jedi', arial;
}
/*# sourceMappingURL=main.css.map */