body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20vh;
  bottom: 15vh;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h3 {
  margin: 3vh 0 0 0;
  border-bottom: solid 3px #97743A;
}

section {
  border-top: solid 1px #282828;
  border-left: solid 1px #282828;
  border-right: solid 1px #282828;
  border-bottom: solid 5px #97743A;
  margin-top: 10vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

nav {
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 1vh;
  border-color: #282828;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  padding: 1vh 0;
}

nav div h1 {
  color: white;
  border-bottom: solid 3px #97743A;
  font-size: xx-large;
}

nav div #header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: larger;
}

nav div #header-buttons p {
  margin: 0 6px;
}

nav div #header-buttons a {
  color: white;
  border-bottom: solid 3px #97743A;
  border-radius: none;
  padding: 0px;
  margin: none;
  background-color: none;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav div #header-buttons a:hover {
  background-color: #97743A;
  padding: 5px 0px 6px;
  border-radius: 2px;
  border: solid 2px #97743A;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #282828;
  width: 80vw;
  padding-bottom: 10px;
}

#about-me {
  margin-top: 20vh;
  width: 90vw;
}

#about-me p {
  padding: 4vh 0;
  max-width: 80vw;
  font-size: larger;
}

#technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#technologies #all-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#technologies #all-skills #technologies-list-container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#technologies #all-skills #technologies-list-container #technologies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vh 0;
}

#technologies #all-skills #technologies-list-container #technologies-list .tech-icon {
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100px;
  padding: 4px 8px;
  margin: 5px;
}

#technologies #all-skills #technologies-list-container #technologies-list .tech-icon .tech-image {
  width: 100px;
}

#technologies #all-skills #soft-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
}

#technologies #all-skills #soft-container #soft-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#technologies #all-skills #soft-container #soft-skills-container #soft-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

#technologies #all-skills #soft-container #soft-skills-container #soft-skills-list .soft-icon {
  list-style-type: none;
  margin: 10px;
  border-bottom: #97743A 2px solid;
  font-size: larger;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
}

#portfolio #projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
}

#portfolio #projects a {
  border: #97743A 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio #projects .project:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#portfolio #projects .project:last-of-type {
  border-bottom: none;
}

#portfolio #projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vh 0;
  border-bottom: solid 3px #97743A;
}

#portfolio #projects .project .project-text {
  margin: 0 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio #projects .project .project-text .external-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio #projects .project .project-image {
  max-width: 50vw;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #282828;
  color: white;
}

footer #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #282828;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer #contact .section-title {
  color: white;
  border: none;
}

footer #contact #footer-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 15vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer #contact #footer-icon-container #footer-icon-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  min-height: 20px;
  width: 20px;
  min-width: 20px;
  background-image: url(images/icons/email.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  background-color: white;
  margin: 0 5px;
  border-radius: 2px;
}

footer #contact #footer-icon-container #footer-icon-email:hover {
  border: 2px solid #97743A;
}

footer #contact #footer-icon-container #footer-icon-linked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  min-height: 20px;
  width: 20px;
  min-width: 20px;
  background-image: url(images/icons/linked-in.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  background-color: none;
  margin: 0 5px 0 15px;
  border-radius: 2px;
}

footer #contact #footer-icon-container #footer-icon-linked:hover {
  border: 2px solid #97743A;
}

footer .footer-spacer {
  margin-left: 5vw;
}

@font-face {
  font-family: 'Star Jedi';
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/star-jedi.woff") format("woff");
}

#star-wars {
  font-family: 'Star Jedi', arial;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: larger;
  }
  #portfolio #projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #portfolio #projects .project .project-image {
    max-width: 80vw;
  }
  #portfolio #projects .project:nth-of-type(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-me {
    margin-top: 30vh;
  }
}

@media only screen and (max-width: 602px) {
  #portfolio #projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #portfolio #projects .project:nth-of-type(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 480px) {
  nav div:last-of-type {
    width: 180px;
  }
  nav div:last-of-type ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav div:last-of-type ul p:nth-of-type(2) {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  #about-me {
    margin-top: 30vh;
  }
  #portfolio #projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=main.css.map */