// $primaryColor: #ef9d1c;
$primaryColor: #282828;
$primaryInvert: invert($primaryColor);
// $secondaryColor: #949494;
$secondaryColor: white;
$accentColor: #97743A;




body {
  background-color: $secondaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20vh;
  bottom: 15vh;
}

ul{
  padding-inline-start: 0;
}



h3{
  margin: 3vh 0 0 0;
  border-bottom: solid 3px $accentColor;
}

section {
  border-top: solid 1px $primaryColor;
  border-left: solid 1px $primaryColor;
  border-right: solid 1px $primaryColor;
  border-bottom: solid 5px $accentColor;
  margin-top: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}


nav {
  background-color: $primaryColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 1vh;
  border-color: $primaryColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  padding: 1vh 0;
  div{

    h1{
      color: $secondaryColor;
      border-bottom: solid 3px $accentColor;
      font-size: xx-large;
    }
  }
  div{

    #header-buttons{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $secondaryColor;
      font-size: larger;
      p{
        margin: 0 6px;
      }

      a{
        color: $secondaryColor;
        border-bottom: solid 3px $accentColor;
        border-radius: none;
        padding: 0px;
        margin: none;
        background-color: none;
        text-decoration: none;
        box-shadow: none;

        &:hover {
          background-color: $accentColor;
          padding: 5px 0px 6px;
          border-radius: 2px;
          border: solid 2px $accentColor;
          
          
        }
      }
    }
  }
}

.section-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primaryColor;
  width: 80vw;
  padding-bottom: 10px;
}





#about-me{
  margin-top: 20vh;
  width: 90vw;
  
  p{
    padding: 4vh 0;
    max-width: 80vw;
    font-size: larger;
      
  }
}


#technologies {
  display: flex;
  
  #all-skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    #technologies-list-container{
      width: 80vw;
      display:flex;
      flex-direction: column;

      #technologies-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4vh 0;

        .tech-icon {
          list-style-type: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100px;
          padding: 4px 8px;
          margin: 5px;

          .tech-image {
            width: 100px;
            }
          }
        }
      }

      #soft-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;

        #soft-skills-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          #soft-skills-list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-evenly;
            padding-inline-start: 0;
            .soft-icon {
              list-style-type: none;
              margin: 10px;
              border-bottom: $accentColor 2px solid;
              font-size: larger;
            }
          }
        }
      }
  }
}



#portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;

    a {
      border: $accentColor 2px solid;
      border-radius: 5px;
      padding: 10px;
      margin: 0 5px;
      background-color: $secondaryColor;
      text-decoration: none;
      color: black;
      box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .project:nth-of-type(2n){
      flex-direction: row-reverse;
    }

    .project:last-of-type{
      border-bottom: none;
    }

    .project {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4vh 0;
      border-bottom: solid 3px $accentColor;

      .project-text {
        margin: 0 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .external-links{
          display: flex;
        }
      }

      .project-image {
        max-width: 50vw;
        border-radius: 10px;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      }
    }
  }
}

footer{
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $primaryColor;
  color: $secondaryColor;

  #contact{
    display: flex;
    flex-direction: row;
    background-color: $primaryColor;
    justify-content: center;
    align-items: flex-end;

    .section-title{
      color: $secondaryColor;
      border: none;
    }
    
    #footer-icon-container{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 15vw;
      align-items: flex-end;

      #footer-icon-email{
        display: flex;
        height: 20px;
        min-height: 20px;
        width: 20px;
        min-width: 20px;
        background-image: url(images/icons/email.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px;
        background-color: $secondaryColor;
        margin: 0 5px;
        border-radius: 2px;
        &:hover {
          border: 2px solid $accentColor;
        }
      }
      #footer-icon-linked{
        display: flex;
        height: 20px;
        min-height: 20px;
        width: 20px;
        min-width: 20px;
        background-image: url(images/icons/linked-in.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px;
        background-color: none;
        margin: 0 5px 0 15px;
        border-radius: 2px;
        &:hover {
          border: 2px solid $accentColor;
        }
      }
    }
  }
  .footer-spacer{
    margin-left: 5vw;
  }
}


@font-face {
  font-family: 'Star Jedi';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/star-jedi.woff') format('woff');
}

#star-wars {
  font-family: 'Star Jedi', arial;
}

@media only screen and (max-width: 1024px) {
  body{
    font-size: larger;
  }
  #portfolio #projects {
    .project{
      flex-direction: column-reverse;
      .project-image {
        max-width: 80vw;
      }
    }
    .project:nth-of-type(2n) {
      flex-direction: column-reverse;
    }
  }
}


@media only screen and (max-width: 900px) {
  nav{
    flex-direction: column;
  }
  #about-me{
    margin-top: 30vh;
  }
}


@media only screen and (max-width: 602px) {
  

  #portfolio #projects {
  .project{
    flex-direction: column-reverse;
  }
  .project:nth-of-type(2n) {
    flex-direction: column-reverse;
  }
}
}

@media only screen and (max-width: 480px) {
  nav{
    div:last-of-type{
      width:180px;
      ul{justify-content: center;
        p:nth-of-type(2){
          display: none;
        }
      }
      
    }
  }
}

@media only screen and (max-width: 380px) {
  #about-me{
    margin-top: 30vh;
  }

  #portfolio #projects .project{
    flex-direction: column-reverse;
  }
}